@charset "UTF-8";
/* ---------------------------------
	common set
---------------------------------- */
body { font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; background: url(../images/bg01.jpg) no-repeat center top; }

/* ---------------------------------
	heading
---------------------------------- */
h1 { font-size: 36px; font-size: 2.25rem; }

h2 { font-size: 24px; font-size: 1.5rem; position: relative; border-bottom: 2px solid #ccc; margin-bottom: 15px; padding: 20px; }
h2::after { position: absolute; bottom: -2px; left: 0; content: ''; width: 20%; border-bottom: 2px solid #205887; }

h3 { padding: 10px 0; margin-bottom: 15px; }

/* ---------------------------------
	header
---------------------------------- */
#header { width: 1240px; margin: 0 auto 50px; }

/* ---------------------------------
	nav
---------------------------------- */
nav ul { display: table; width: 100%; text-align: center; overflow: hidden; }
nav li { display: table-cell; vertical-align: middle; }
nav li a { color: #3E3A39; text-decoration: none; }
nav li.current, nav li:hover { background: url(../images/nav_border.png) no-repeat center 70%; }

/* ---------------------------------
	Breadcrumb
---------------------------------- */
#breadcrumb { margin-bottom: 20px; }

#breadcrumb li { float: left; margin-right: .5em; }

/* ---------------------------------
	page-top
---------------------------------- */
#page-top { position: fixed; bottom: 20px; right: 300px; font-size: 77%; z-index: 1; }

#page-top a { background: #666; width: 66px; height: 64px; display: block; background: url(../images/page_top.png); text-indent: 100%; overflow: hidden; white-space: nowrap; }

/* ---------------------------------
	footer
---------------------------------- */
#footer { font-size: 18px; font-size: 1.125rem; background: url(../images/footer_top.png) no-repeat center top; padding-top: 66px; width: 100%; }
#footer .contentWp { background: #DCECD7; padding-top: 65px; }
#footer .contentWp .content { width: 1240px; margin: 0 auto; }
#footer .contentWp .content .store { width: 33%; padding: 0 0 40px 65px; display: inline-block; line-height: 1.5; }
#footer .contentWp .content .store span { font-size: 13px; font-size: 0.8125rem; display: block; }
#footer .contentWp .content .store span + span { font-size: 14px; font-size: 0.875rem; }
#footer .contentWp .content .store a { color: #ECAA39; text-decoration: none; }
#footer .contentWp .content .dtLine { text-align: center; }
#footer .contentWp .content .ft_link { width: 1150px; margin: 0 auto; padding-top: 50px; }
#footer .contentWp .content .ft_link .induction { width: 100%; }
#footer .contentWp .content .ft_link .induction .leadArea { width: 178px; float: left; }
#footer .contentWp .content .ft_link .induction ul { padding-left: 180px; }
#footer .contentWp .content .ft_link .induction li { display: inline-block; padding-left: 50px; vertical-align: top; }
#footer .contentWp .content .ft_link .induction li a { text-decoration: none; color: #3E3A39; }
#footer .contentWp .content .ft_link .induction li ul { line-height: 1.5em; padding: 0; position: relative; margin-top: .75em; margin-left: 1.5em; margin-bottom: 50px; }
#footer .contentWp .content .ft_link .induction li ul:before { position: absolute; top: auto; right: auto; bottom: auto; left: auto; content: ""; display: block; top: 0; bottom: 13px; left: 0; width: 0; border-left: 1px solid #333; }
#footer .contentWp .content .ft_link .induction li ul li { position: relative; padding-left: 20px; display: block; }
#footer .contentWp .content .ft_link .induction li ul li:before { position: absolute; top: auto; right: auto; bottom: auto; left: auto; content: ""; display: block; top: 15px; left: 0; width: .75em; height: 0; border-top: 1px solid #333; }
#footer .contentWp .content .ft_link .induction li ul li:last-child:before { top: 15px; bottom: 0; height: auto; }
#footer .contentWp .content .ft_link .induction li ul li a { font-size: 16px; font-size: 1rem; }
#footer .contentWp .content .ft_link .ft_under { text-align: center; background: url(../images/logo_under.png) no-repeat left bottom; height: 195px; position: relative; }
#footer .contentWp .content .ft_link .ft_under .copy { padding-top: 130px; color: #595757; }
#footer .contentWp .content .ft_link .ft_under .ft_sns { position: absolute; top: auto; right: auto; bottom: auto; left: auto; content: ""; display: block; background: url(../images/ft_sns.png) no-repeat; right: -70px; bottom: 0; width: 369px; height: 156px; }
#footer .contentWp .content .ft_link .ft_under .ft_sns ul { padding-top: 75px; margin-left: -50px; }
#footer .contentWp .content .ft_link .ft_under .ft_sns li { display: inline-block; vertical-align: top; }
