/* ---------------------------------
	mainImg
---------------------------------- */
#mainImg { width: 1240px; height: 865px; margin: 0 auto 65px; background: url(../images/flame.png) no-repeat center top; text-align: center; position: relative; }
#mainImg img { position: relative; z-index: -2; }
#mainImg .main_logo { background: url(../images/main_logo.png) no-repeat center center; width: 290px; height: 192px; padding-top: 110px; line-height: 1.5; position: absolute; top: auto; right: auto; bottom: auto; left: auto; content: ""; display: block; margin: auto; overflow: hidden; white-space: nowrap; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; }
#mainImg .main_sns { background: url(../images/main_sns.png) no-repeat; width: 247px; height: 168px; padding-top: 35px; position: absolute; top: auto; right: auto; bottom: auto; left: auto; content: ""; display: block; bottom: -25px; left: 0; z-index: -1; }
#mainImg .btn { position: absolute; bottom: 45px; left: 90px; z-index: 1; }
#mainImg .btn a { display: inline-block; cursor: pointer; }
#mainImg .btn a .insta { top: 5px; left: 30px; }

/* ---------------------------------
	significance
---------------------------------- */
#significance { width: 1240px; margin: 0 auto; overflow: hidden; text-align: center; color: #595757; }
#significance h4 { font-size: 30px; font-size: 1.875rem; height: 130px; background: url(../images/significance_ttlBg.png) no-repeat 95% top; }
#significance .headLead { margin-bottom: 50px; }
#significance .headLead img { margin: 0 10px; vertical-align: bottom; }
#significance .step01, #significance .step02, #significance .step03, #significance .step04, #significance .step05 { margin: 0 auto; }
#significance .step01 dt, #significance .step01 dd, #significance .step02 dt, #significance .step02 dd, #significance .step03 dt, #significance .step03 dd, #significance .step04 dt, #significance .step04 dd, #significance .step05 dt, #significance .step05 dd { text-align: left; }
#significance .step01 dt, #significance .step02 dt, #significance .step03 dt, #significance .step04 dt, #significance .step05 dt { margin-bottom: 20px; }
#significance .step01 dd, #significance .step02 dd, #significance .step03 dd, #significance .step04 dd, #significance .step05 dd { line-height: 1.5; }
#significance .step01 dd.more a, #significance .step02 dd.more a, #significance .step03 dd.more a, #significance .step04 dd.more a, #significance .step05 dd.more a { display: block; }
#significance .step01 { background: url(../images/significance_step01.jpg) no-repeat center top; height: 500px; }
#significance .step01 dl { padding-top: 135px; padding-left: 535px; }
#significance .step01 dd.more a { margin-top: 145px; padding-left: 15px; }
#significance .step02 { background: url(../images/significance_step02.jpg) no-repeat center top; height: 518px; }
#significance .step02 dl { padding-top: 170px; padding-left: 260px; }
#significance .step02 dt { padding-left: 90px; }
#significance .step02 dd.more a { padding-left: 360px; margin-top: 140px; }
#significance .step03 { background: url(../images/significance_step03.jpg) no-repeat center top; height: 547px; }
#significance .step03 dl { padding-top: 180px; padding-left: 535px; }
#significance .step03 dd.more a { margin-top: 150px; padding-left: 15px; }
#significance .step04 { background: url(../images/significance_step04.jpg) no-repeat center top; height: 580px; }
#significance .step04 dl { padding-top: 210px; padding-left: 250px; }
#significance .step04 dd.more a { margin-top: 150px; padding-left: 320px; }
#significance .step05 { background: url(../images/significance_step05.jpg) no-repeat center top; height: 514px; }
#significance .step05 dl { padding-top: 105px; padding-left: 550px; }

/* ---------------------------------
	voices
---------------------------------- */
#voices { width: 100%; margin-bottom: 100px; }
#voices p { text-align: center; }
#voices .more_voice { margin-top: 30px; }

/* ---------------------------------
	slider
---------------------------------- */
.slider-voice { width: 100%; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
.slider-voice img { width: 100%; height: auto; }
.slider-voice .slick-slide:not(.slick-center) { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9); }

/* ---------------------------------
	notonly
---------------------------------- */
#notonly { font-size: 18px; font-size: 1.125rem; background: url(../images/notonly_top.png) no-repeat center 30px; padding-top: 100px; width: 100%; position: relative; overflow: hidden; margin-bottom: 100px; }
#notonly h3 { position: absolute; left: 950px; top: -10px; display: block; }
#notonly .contents { background: #D8EEFB; padding-top: 30px; }
#notonly .contents h4 { margin-left: 560px; }
#notonly .contents #imgBox { width: 100%; }
#notonly .contents #imgBox ul { display: table; background: #D8EEFB; }
#notonly .contents #imgBox li { display: table-cell; vertical-align: top; }
#notonly .contents #imgBox li img { margin: 0 5px 5px 0; }
#notonly .contents #imgBox .tooltip { color: #000; display: inline-block; }
#notonly .contents #imgBox .tooltip span { display: none; }
#notonly .contents #imgBox .tooltip:hover { position: relative; color: #333; }
#notonly .contents #imgBox .tooltip:hover span { display: block; position: absolute; top: 25px; font-size: 90%; color: #000; background: #fff; width: 205px; padding: 5px; border-radius: 3px; border: 2px solid #000; z-index: 100; }
#notonly .contents #imgBox .tooltip:hover span::before { content: ""; position: absolute; bottom: -8px; left: 50%; margin-left: -9px; width: 0px; height: 0px; border-style: solid; border-width: 9px 9px 0 9px; border-color: #fff transparent transparent transparent; z-index: 0; }
#notonly .contents #imgBox .tooltip:hover span::after { content: ""; position: absolute; bottom: -10px; left: 50%; margin-left: -10px; width: 0px; height: 0px; border-style: solid; border-width: 10px 10px 0 10px; border-color: #19283C transparent transparent transparent; z-index: -1; }
#notonly .contents #imgBox .no_more a { display: block; position: relative; left: 65%; top: -35px; }

/* ---------------------------------
	about
---------------------------------- */
#about { font-size: 20px; font-size: 1.25rem; color: #595757; background: url(../images/about_bg.png) no-repeat center top; padding-bottom: 150px; }
#about .contents { width: 1240px; margin: 0 auto; }
#about .contents h3 { font-size: 24px; font-size: 1.5rem; text-align: center; }
#about .contents h3 span { font-size: 12px; font-size: 0.75rem; }
#about .contents p { line-height: 2; text-align: center; margin-bottom: 80px; }
#about .contents div { display: inline-block; vertical-align: top; width: 575px; height: 510px; margin-left: 50px; padding: 65px 50px; color: #3E3A39; position: relative; }
#about .contents div > p { font-size: 15px; font-size: 0.9375rem; margin-bottom: 30px; text-align: left; }
#about .contents .box1 { background: url(../images/about_bg01.png) no-repeat center top; margin-left: 0; }
#about .contents .box1 .price { background: url(../images/detail_under01.png) no-repeat left 90%; }
#about .contents .box2 { background: url(../images/about_bg02.png) no-repeat center top; margin-left: 50px; }
#about .contents .box2 > p { margin-top: 45px; }
#about .contents .box2 .price { background: url(../images/detail_under02.png) no-repeat center 90%; text-align: center; margin-top: 0; }
#about .contents .box2 .price span { padding-left: 110px; }
#about .contents .price { font-size: 22px; font-size: 1.375rem; margin-bottom: 0; }
#about .contents .price span { font-size: 16px; font-size: 1rem; }
#about .contents .detail img { position: absolute; top: auto; right: auto; bottom: auto; left: auto; content: ""; display: block; top: 0; left: 0; bottom: -75%; right: 0; margin: auto; overflow: hidden; white-space: nowrap; }

/* ---------------------------------
	thought
---------------------------------- */
#thought { text-align: center; background: url(../images/thought_bg.png) no-repeat center top; }
#thought .contents { width: 1240px; margin: 0 auto; }
#thought .contents h3 { font-size: 26px; font-size: 1.625rem; background: url(../images/lead_thought.png) no-repeat center bottom; margin-bottom: 90px; }
#thought .contents p { margin-bottom: 30px; line-height: 2; }
#thought .contents p span { font-size: 48px; font-size: 3rem; vertical-align: middle; }
#thought .contents p em { color: #D85335; font-weight: bold; }
#thought .contents p img { vertical-align: sub; }
#thought .contents dl { width: 730px; margin: 0 auto; text-align: left; overflow: hidden; padding-bottom: 35px; padding-left: 120px; }
#thought .contents dt { float: left; clear: both; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; width: 30px; height: 30px; padding: 10px; background: #EE8FB8; color: #fff; }
#thought .contents dd { margin-left: 45px; line-height: 2; }

/* ---------------------------------
	info
---------------------------------- */
#info { background: url(../images/info_bg01.png) no-repeat center top; text-align: center; padding-top: 30px; color: #595757; line-height: 1.5; position: relative; }
#info .info_logo { position: absolute; top: auto; right: auto; bottom: auto; left: auto; content: ""; display: block; top: -19%; right: 0; bottom: 0; left: 0; margin: auto; overflow: hidden; white-space: nowrap; width: 301px; height: 153px; }
#info .contents { width: 1240px; margin: 0 auto; }
#info .contents h3 { font-size: 38px; font-size: 2.375rem; background: url(../images/info_ttlBg.png) no-repeat center 75px; }
#info .contents h3 span { font-size: 18px; font-size: 1.125rem; }
#info .contents ul { display: table; width: 100%; }
#info .contents li { display: table-cell; width: 33%; }
#info .contents li p { font-size: 26px; font-size: 1.625rem; line-height: 1.5; }
#info .contents li p span { font-size: 18px; font-size: 1.125rem; }
#info .contents li a { font-size: 20px; font-size: 1.25rem; color: #ECAA39; text-decoration: none; }
#info .contents .notice .inner .jspContainer, #info .contents .faq .inner .jspContainer { overflow: hidden; position: relative; }
#info .contents .notice .inner .jspPane, #info .contents .faq .inner .jspPane { position: absolute; }
#info .contents .notice .inner .jspVerticalBar, #info .contents .faq .inner .jspVerticalBar { position: absolute; top: 0; right: 0; width: 10px; height: 100%; }
#info .contents .notice .inner .jspTrack, #info .contents .faq .inner .jspTrack { background: #eee; border: 1px solid #ddd; position: relative; }
#info .contents .notice .inner .jspDrag, #info .contents .faq .inner .jspDrag { position: relative; top: 0; left: 0; cursor: pointer; }
#info .contents .notice h4, #info .contents .faq h4 { font-size: 24px; font-size: 1.5rem; margin-bottom: 50px; }
#info .contents .notice { display: table-cell; width: 50%; padding-top: 150px; padding-bottom: 130px; }
#info .contents .notice .inner { width: 550px; height: 420px; overflow-y: scroll; overflow-x: hidden; padding-right: 50px; }
#info .contents .notice .inner .jspDrag { background: #0080CB; }
#info .contents .notice dl { width: 500px; margin-bottom: 50px; overflow: hidden; }
#info .contents .notice dt { float: left; clear: both; }
#info .contents .notice dd { font-size: 18px; font-size: 1.125rem; margin-left: 195px; text-align: left; }
#info .contents .notice dd span { font-size: 15px; font-size: 0.9375rem; }
#info .contents .notice dd a { color: #3E3A39; }
#info .contents .faq { display: table-cell; width: 50%; padding-top: 150px; padding-left: 80px; padding-bottom: 130px; }
#info .contents .faq h4 { font-size: 24px; font-size: 1.5rem; margin-bottom: 50px; }
#info .contents .faq .inner { width: 550px; height: 420px; overflow: auto; padding-right: 50px; }
#info .contents .faq .inner .jspDrag { background: #009643; }
#info .contents .faq dl { width: 500px; padding-left: 50px; }
#info .contents .faq dl.q { color: #0080CB; margin-bottom: 25px; }
#info .contents .faq dl.a { margin-bottom: 60px; }
#info .contents .faq dt { float: left; clear: both; }
#info .contents .faq dd { margin-left: 60px; padding-top: 4px; text-align: left; }
#info .contents .faq p { text-align: right; margin-top: 30px; }
