@charset "UTF-8";

@import "compass";

//---------------------------------
//	mixin
//---------------------------------
@mixin fontsize($size, $base: 16) {
	font-size:$size + px;
	font-size: ($size / $base) * 1rem;
}

@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	content: "";
	display: block;
}
/* ---------------------------------
	mainImg
---------------------------------- */
#mainImg{
	width: 1240px;
	height: 865px;
	margin: 0 auto 65px;
	background: url(../images/flame.png) no-repeat center top;
	text-align: center;
	position: relative;
	img {
		position: relative;
		z-index: -2;
	}
	.main_logo {
		background: url(../images/main_logo.png) no-repeat center center;
		width: 290px;
		height: 192px;
		padding-top: 110px;
		line-height: 1.5;
		@include absPosition;
		margin: auto;
		overflow: hidden;
		white-space: nowrap;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
	.main_sns {
		background: url(../images/main_sns.png) no-repeat;
		width: 247px;
		height: 168px;
		padding-top: 35px;
		@include absPosition;
		bottom: -25px;
		left: 0;
		z-index: -1;
	}
	.btn {
		position: absolute;
		bottom: 45px;
		left: 90px;
		z-index: 1;
		a {
			display: inline-block;
			cursor: pointer;
			.insta {
				top: 5px;
				left: 30px;
			}
		}

	}
}

/* ---------------------------------
	significance
---------------------------------- */
#significance {
	width: 1240px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	color: #595757;
	h4 {
		@include fontsize(30);
		height: 130px;
		background: url(../images/significance_ttlBg.png) no-repeat 95% top;
	}
	.headLead {
		margin-bottom: 50px;
		img {
			margin: 0 10px;
			vertical-align: bottom;
		}
	}
	.step01, .step02, .step03, .step04, .step05 {
		margin: 0 auto;
		& dt, dd {
			text-align: left;
		}
		& dt {
			margin-bottom: 20px;
		}
		& dd {
			line-height: 1.5;
			&.more a {
				display: block;
			}
		}
	}
	.step01 {
		background: url(../images/significance_step01.jpg) no-repeat center top;
		height: 500px;
		dl {
			padding-top: 135px;
			padding-left: 535px;
		}
		dd {
			&.more a {
				margin-top: 145px;
				padding-left: 15px;
			}
		}
	}
	.step02 {
		background: url(../images/significance_step02.jpg) no-repeat center top;
		height: 518px;
		dl {
			padding-top: 170px;
			padding-left: 260px;
		}
		dt {
			padding-left: 90px;
		}
		dd {
			&.more a {
				padding-left: 360px;
				margin-top: 140px;
			}
		}
	}
	.step03 {
		background: url(../images/significance_step03.jpg) no-repeat center top;
		height: 547px;
		dl {
			padding-top: 180px;
			padding-left: 535px;
		}
		dd {
			&.more a {
				margin-top: 150px;
				padding-left: 15px;
			}
		}
	}
	.step04 {
		background: url(../images/significance_step04.jpg) no-repeat center top;
		height: 580px;
		dl {
			padding-top: 210px;
			padding-left: 250px;
		}
		dd {
			&.more a {
				margin-top: 150px;
				padding-left: 320px;
			}
		}
	}
	.step05 {
		background: url(../images/significance_step05.jpg) no-repeat center top;
		height: 514px;
		dl {
			padding-top: 105px;
			padding-left: 550px;
		}
	}
}

/* ---------------------------------
	voices
---------------------------------- */
#voices {
	width: 100%;
	margin-bottom: 100px;
	p {
		text-align: center;
	}
}

/* ---------------------------------
	slider
---------------------------------- */
.slider-voice {
	width: 100%;
	-webkit-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	img {
		width: 100%;
		height: auto;
	}
	.slick-slide:not(.slick-center) {
		-webkit-transform: scale(.9);
		-moz-transform: scale(.9);
		-ms-transform: scale(.9);
		-o-transform: scale(.9);
		transform: scale(.9);
	}
}

/* ---------------------------------
	notonly
---------------------------------- */
#notonly {
	@include fontsize(18);
	background: url(../images/notonly_top.png) no-repeat center 30px;
	padding-top: 100px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 100px;
	h3 {
		position: absolute;
		left: 950px;
		top: -10px;
		display: block;
	}
	.contents {
		background: #D8EEFB;
		padding-top: 30px;
		h4 {
			margin-left: 560px;
		}
		#imgBox {
			width: 100%;
			ul {
				display: table;
				background: #D8EEFB; 
			}
			li {
				display: table-cell;
				vertical-align: top;
				img {
					margin: 0 5px 5px 0;
				}
			}
			.tooltip{
				color: #000;
				display: inline-block;
				span {
					display: none;
				}
				&:hover {
					position: relative;
					color: #333;
					& span {
						display: block;
						position: absolute;
						top: 25px;
						font-size: 90%;
						color: #000;
						background: #fff;
						width: 205px;
						padding: 5px;
						border-radius:3px;
						border: 2px solid #000; 
						z-index:100;
						&::before{
							content: "";
							position: absolute;
							bottom: -8px; left: 50%;
							margin-left: -9px;
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 9px 9px 0 9px;
							border-color: #fff transparent transparent transparent;
							z-index: 0;
						}
						&::after {
							content: "";
							position: absolute;
							bottom: -10px; left: 50%;
							margin-left: -10px;
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 10px 10px 0 10px;
							border-color: #19283C transparent transparent transparent;
							z-index: -1;
						}
					}
				}
			}
			.no_more a {
				display: block;
				position: relative;
				left: 65%;
				top: -35px;
			}
		}
	}
}
/* ---------------------------------
	about
---------------------------------- */
#about{
	@include fontsize(20);
	color: #595757;
	background: url(../images/about_bg.png) no-repeat center top;
	padding-bottom: 150px;
	.contents {
		width: 1240px;
		margin: 0 auto;
		h3 {
			@include fontsize(24);
			text-align: center;
			span {
				@include fontsize(12);
			}
		}
		p {
			line-height:2;
			text-align: center;
			margin-bottom: 80px;
		}
		div {
			display: inline-block;
			vertical-align: top;
			width: 575px;
			height: 510px;
			margin-left: 50px;
			padding: 65px 50px;
			color: #3E3A39;
			position: relative;
			> p {
				@include fontsize(15);
				margin-bottom: 30px;
				text-align: left;
			}
		}
		.box1 {
			background: url(../images/about_bg01.png) no-repeat center top;
			margin-left: 0;
			.price {
				background: url(../images/detail_under01.png) no-repeat left 90%;
			}
		}
		.box2 {
			background: url(../images/about_bg02.png) no-repeat center top;
			margin-left: 50px;
			> p {
				margin-top: 45px;
			}
			.price {
				background: url(../images/detail_under02.png) no-repeat center 90%;
				text-align: center;
				margin-top: 0;
				span {
					padding-left: 110px;
				}
			}
		}
		.price {
			@include fontsize(22);
			margin-bottom: 0;
			span {
				@include fontsize(16);
			}
		}
		.detail img {
			@include absPosition ;
			top: 0;
			left: 0;
			bottom: -75%;
			right: 0;
			margin: auto;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}

/* ---------------------------------
	thought
---------------------------------- */
#thought {
	text-align: center;
	background: url(../images/thought_bg.png) no-repeat center top;
	.contents{
		width: 1240px;
		margin: 0 auto;
		h3 {
			@include fontsize(26);
			background: url(../images/lead_thought.png) no-repeat center bottom;
			margin-bottom: 90px;
		}
		p {
			margin-bottom: 30px;
			line-height: 2;
			span {
				@include fontsize(48);
				vertical-align: middle;
			}
			em {
				color: #D85335;
				font-weight: bold;
			}
			img {
				vertical-align: sub;
			}
		}
		dl {
			width: 730px;
			margin: 0 auto;
			text-align: left;
			overflow: hidden;
			padding-bottom: 35px;
			padding-left: 120px;
		}
		dt {
			float: left;
			clear: both;
			@include border-radius(50%);
			width: 30px;
			height: 30px;
			padding: 10px;
			background: #EE8FB8;
			color: #fff;
		}
		dd {
			margin-left: 45px;
			line-height: 2;
		}
	}
}

/* ---------------------------------
	info
---------------------------------- */
#info{
	background: url(../images/info_bg01.png) no-repeat center top;
	text-align: center;
	padding-top: 30px;
	color: #595757;
	line-height: 1.5;
	position: relative;
	.info_logo {
		@include absPosition;
		top: -19%;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		overflow: hidden;
		white-space: nowrap;
		width: 301px;
		height: 153px;
	}
	.contents{
		width: 1240px;
		margin: 0 auto;
		h3 {
			@include fontsize(38);
			background: url(../images/info_ttlBg.png) no-repeat center 75px;
			span {
				@include fontsize(18);
			}
		}
		ul {
			display: table;
			width: 100%;
		}
		li {
			display: table-cell;
			width: 33%;
			p {
				@include fontsize(26);
				line-height: 1.5;
				span {
					@include fontsize(18);
				}
			}
			a {
				@include fontsize(20);
				color: #ECAA39;
				text-decoration: none;
			}
		}
		.notice .inner, .faq .inner {
			.jspContainer {
				overflow:hidden;
				position:relative;
			}
			.jspPane {
				position:absolute;
			}
			.jspVerticalBar {
				position:absolute;
				top:0;
				right:0;
				width:10px;
				height:100%;
			}
			.jspTrack {
				background:#eee;
				border: 1px solid #ddd; 
				position:relative;
			}
			.jspDrag {
				position:relative;
				top:0;
				left:0;
				cursor:pointer;
			}
		}
		.notice h4, .faq h4 {
			@include fontsize(24);
			margin-bottom: 50px;
		}
		.notice {
			display: table-cell;
			width: 50%;
			padding-top: 150px;
			padding-bottom: 130px;
			.inner{
				width: 550px;
				height: 420px;
				overflow-y: scroll;
				overflow-x: hidden;
				padding-right: 50px;
				.jspDrag {
					background:#0080CB;
				}
			}
			dl {
				width: 500px;
				margin-bottom: 50px;
				overflow: hidden;
			}
			dt {
				float: left;
				clear: both;
			}
			dd {
				@include fontsize(18);
				margin-left: 195px;
				text-align: left;
				span {
					@include fontsize(15);
				}
				a {
					color: #3E3A39;
				}
			}
		}
		.faq {
			display: table-cell;
			width: 50%;
			padding-top: 150px;
			padding-left: 80px;
			padding-bottom: 130px;
			h4 {
				@include fontsize(24);
				margin-bottom: 50px;
			}
			.inner{
				width: 550px;
				height: 420px;
				overflow: auto;
				padding-right: 50px;
				.jspDrag {
					background:#009643;
				}
			}
			dl {
				width: 500px;
				padding-left: 50px;
				&.q {
					color: #0080CB;
					margin-bottom: 25px;
				}
				&.a {
					margin-bottom: 60px;
				}
			}
			dt {
				float: left;
				clear: both;
			}
			dd {
				margin-left: 60px;
				padding-top: 4px;
				text-align: left;
			}
			p {
				text-align: right;
				margin-top: 30px;
			}
		}
	}
}

